*{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    margin: 0;
    min-height: 100vh;
}
#container{
position:fixed;
top:10px;
right:10px;
}
button{
    background-color: aqua;
    color: white;
    font-family: inherit;
    padding: 1rem;
    border-radius: 5px;
    border: none;
}
.toast{
    background-color: pink;
    border-radius: 5px;
    color: aliceblue;
    padding: 2rem;
    margin: 1rem;
}